header {
  margin: 1em 0 1em 1em;
  padding: 0;
  background-color: white;
}

footer {
  margin: 0;
  padding: 1em;
  background-color: black;
  color: white;
}

section {
  padding: 1em;
  background-color: #f5f5f5;
}

a {
  font-size: 2em;
  font-weight: 400;
  font-weight: bold;
}

